<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.google.com" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/poductDetail.css">
    <link rel="stylesheet" href="css/normalize.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.google.com/specimen/Bree+Serif" rel="stylesheet">
    <title>P.Detail</title>
    <link rel="icon" type="image/png" sizes="16x16"  href="/images/col.png">
</head>
<a href="/listaprod/:id"> <img src="/images/WhatsApp Image 2022-08-23 at 5.59.17 PM.jpeg" style="width:100%"></a>
<body>
   <u style="color:peru"> <h1 style="color:peru">Detalle del producto </h1> </u>
    <h2> <%= name %> </h2>
    <h2> <%= description %> </h2>
    <h2> <%= image %> </h2>
    <h2> <%= category%> </h2>
    <h2> <%= price %> </h2>
    <h2> <%= color %> </h2>
  
  
    <a  href=" "  ><button type="delete" value="eliminar producto" style="color:rgb(169, 7, 7)"> Eliminar producto</button> </a>


    <form action="/listaprod/:id?_method=DELETE" method="post">
      <button type="submit">Eliminar</button>
  </form>









</body>



</body>

</html>