<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>U.Detail</title>
    <link rel="icon" type="image/png" sizes="16x16"  href="/images/col.png">
</head>
<a href="/"> <img src="/images/WhatsApp Image 2022-08-23 at 5.59.17 PM.jpeg" style="width:100%"></a>
<body>
    
   <u style="color:peru"> <h1 style="color:peru">Detalle del usuario </h1> </u>
    <h3> Email:<%= email%> </h3>
    <h3> Nombre:<%= nombre %> </h3>
    <h3> Apellido:<%= apellido %> </h3>
    <h3> Contraseña: <%=  contrasenia %> </h3>
    <h3> Confirmacion de contraseña<%= confirmacionDeContrasenia %> </h3>
    <h3> Trerminos Aceptados <%= terminosaceptados %> </h3>
    <h3> Foto De Perfil: <br><img width="200" src="../../<%= profilePhoto %>" alt=""> </h3>


</body>
</html>